
form > .btn{
	margin-top : 20px;
}

.well{
	border: 3px solid #337ab7;
	color : black;
	font-size : 20px;
	text-align : left;
	position : relative;
}
.input-group-addon{
	background-color : #337ab7;
	color : white;
}
.well-button{
	position : absolute;
	margin: auto;
	top:20px;
	right:20px;
}

.site-name {
	margin-left : 20px;
}

