
<head>
  <meta charset="utf-8">
  <title>HrFrontend</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<div class="container-fluid">
<header class="jumbotron my-4">
    <h1 class="display-3" id="list">Form</h1>
    <div class="row text-right">
    <form>
    	<div class="col-md-6">
    		 <div class="input-group">
			    <span class="input-group-addon">이름</span>
			    <input id="name" type="text" class="form-control" name="name" placeholder="Name">
			  </div>
    	</div>
    	<div class="cod-md-6">
    		 <div class="input-group">
			    <span class="input-group-addon">제목</span>
			    <input id="name" type="text" class="form-control" name="name" placeholder="Title">
			  </div>
    	</div>
    	
    	<button type="submit" class="btn btn-primary">등록</button>
    	<button type="submit" class="btn btn-success">전체선택</button>
    	<button type="submit" class="btn btn-warning">전체취소</button>
    </form>
    </div>
</header>
 <div class="row text-center">
    <div class="col-md-4">
    	<div class="well">
		   	<label class="btn btn-info">
				<input type="checkbox" class="btn btn-info" autocomplete="off">
			</label>
			<label class="site-name">DB CUT</label>
		    <div class="well-button">
		    	<button type="button" class="btn btn-success">활성</button>
		    	<button type="button" class="btn btn-success">완료</button>
		    </div>
    	</div>
    </div>
     <div class="col-md-4">
     	<div class="well">
    	<label class="btn btn-info">
			<input type="checkbox" class="btn btn-info" autocomplete="off">
		</label>
     	 <label class="site-name">Naver-GIMASA</label>
    	 <div class="well-button">
	    	<button type="button" class="btn btn-success">활성</button>
	    	<button type="button" class="btn btn-danger">비완료</button>
	    </div>
     	</div>
    </div>
    <div class="col-md-4">
     	<div class="well">
     	 <label class="btn btn-info">
			<input type="checkbox" class="btn btn-info" autocomplete="off">
		</label>
		<label class="site-name">Naver-GIMASA</label>
     	 <div class="well-button">
		   	<button type="button" class="btn btn-danger">비활성</button>
		   	<button type="button" class="btn btn-danger">비완료</button>
		 </div>
     	</div>
    </div>
 </div>       
</div>

       


