
<head>
  <meta charset="utf-8">
  <title>HrFrontend</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<div class="container-fluid">
<header class="jumbotron my-4">
    <h1 class="display-3" id="list">Form</h1>
    <div class="row text-right">
    <form (ngSubmit)="onSubmit()">
    	<div class="col-md-4">
    		 <div class="input-group">
			    <span class="input-group-addon">작성자</span>
			    <input id="name" type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="submitValue.author">
			  </div>
			  <div class="input-group">
			    <span class="input-group-addon">제목</span>
			    <input id="title" type="text" class="form-control" name="title" placeholder="Title"  [(ngModel)]="submitValue.title">
			  </div>
    	</div>
    	<div class="col-md-4">
    		 <div class="input-group">
			    <span class="input-group-addon">접속아이디</span>
			    <input id="id" type="text" class="form-control" name="id" placeholder="ID" [(ngModel)]="submitValue.id">
			  </div>
			  <div class="input-group">
			    <span class="input-group-addon">접속비번</span>
			    <input id="pw" type="text" class="form-control" name="pw" placeholder="PW" [(ngModel)]="submitValue.pw">
			  </div>
    	</div>
   		<div class="col-md-4">
    		 <div class="input-group">
			    <span class="input-group-addon">업로드</span>
			    <input id="input-b2" name="input-b2" type="file" class="form-control" data-show-preview="false" [(ngModel)]="submitValue.filePath">
			  </div>
    	</div>
    	
    	<button type="submit" class="btn btn-primary">등록</button>
    	<button type="button" class="btn btn-success">전체선택</button>
    	<button type="button" class="btn btn-warning">전체취소</button>
    </form>
    </div>
</header>
 <div class="row text-center">
    <div class="col-md-12">
    	<div *ngFor="let index of indexData">
	    	<div class="well col-md-4" >
			   	<label class="btn btn-info">
					<input type="checkbox" class="btn btn-info" #all id="checkBox_{{index.siteNumber}}" name="{{index.siteName}}"autocomplete="off" value="{{index.siteNumber}}"  #cb (change)="addList(cb)">
				</label>
				<label class="site-name">{{index.siteName}}</label>
			    <div class="well-button">
			    	<span>
			    		<button type="button" *ngIf="index.conCheckResult==200" class="btn btn-success">활성</button>
			    		<button type="button" *ngIf="index.conCheckResult==404" class="btn btn-danger">비활성</button>
			    	</span>
			    	<span>
			    		<button type="button" *ngIf="index.result==true" class="btn btn-success">완료</button>
			    		<button type="button" *ngIf="index.result==false" class="btn btn-danger">비완료</button>
			    	</span>
			    </div>
	    	</div>
    	</div>
    </div>
 </div>       
</div>

       


